parameters:
    level: 6
    paths:
        - %currentWorkingDirectory%/Command/
        - %currentWorkingDirectory%/DependencyInjection/
        - %currentWorkingDirectory%/Exception/
        - %currentWorkingDirectory%/Multipart/
        - %currentWorkingDirectory%/Service/
    fileExtensions:
        - php
    excludePaths:
        - %currentWorkingDirectory%/Tests