# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Symfony

on:
  push:
    branches: ['master']
    tags: ['*']
  pull_request:
    branches: ['*']

permissions:
  contents: read

jobs:
  symfony-tests:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ 'ubuntu-latest' ]
        php-versions: [ '7.4', '8.0', '8.1', '8.2', '8.3', '8.4', '8.5' ]
        phpunit-versions: [ 'latest' ]
    steps:
      - name: Setup PHP
        uses: auto1-oss/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: composer:2.2.23
          extensions: mbstring, intl
          ini-values: post_max_size=256M, max_execution_time=180
          coverage: xdebug
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Composer update on php ${{ matrix.php }} and symfony
        run: composer update --prefer-dist --no-progress
      - name: Execute tests (Unit and Feature tests) via PHPUnit
        run: vendor/bin/phpunit

